<div class="modal fade" id="imagesModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">All Images in this conversation.</h4>
            </div>
            <div class="modal-body">
                <div class="all-images" style="visibility: hidden;">
                    <img src="https://anh.quatructuyen.com/media/catalog/product/cache/1/image/480x480/9df78eab33525d08d6e5fb8d27136e95/m/o/mo-hinh-ong-gia-noel-go_4_.jpg">
                    <img src="https://anh.quatructuyen.com/media/catalog/product/cache/1/image/480x480/9df78eab33525d08d6e5fb8d27136e95/m/o/mo-hinh-ong-gia-noel-go_4_.jpg">
                </div>
            </div>
        </div>
    </div>
</div>