<div class="modal fade" id="streamModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Streaming Video & Audio</h4>
            </div>
            <div class="modal-body">
                <br><br>
                <video id="remote-stream" width="500" controls style="margin-left: 20%;"></video>
                <br><br>
                <video id="local-stream" width="170" controls style="margin-left: 20%;"></video>
                <br><br>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button class="btn btn-danger" id="btn-end-stream" style="width: 150px" title="End"><i class="fa fa-power-off" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
