<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <% include ../../layouts/stylesheet %>
    <% include ../../layouts/script %>
</head>
<body>
    <% include ../../layouts/navbar %>
    <br>
    <div class="container">
        <h4>Change Password</h4><hr>
        <form action="/changepassword" method="POST" role="form" id="changePasswordForm">
            <div class="card">
                <div class="card-header">
                    <% if(errorMessage) {%>
                        <div class="alert alert-danger">
                            <p><%= errorMessage %></p>
                        </div>
                    <%}%>
                </div>
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Curent password<i style = color:red>*</i></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="curent_password" name="curent_password" value="" placeholder="Enter curent password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">New password<i style = color:red>*</i></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="new_password" name="new_password" value="" placeholder="Enter new password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Comfirm password<i style = color:red>*</i></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="comfirm_password" name="comfirm_password" value="" placeholder="Comfirm password" required>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <button id="edit_submit_btn" type="button" onclick="return validateForm(event)" class="btn btn-primary m-b-0">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    // validate form
    function validateForm(event) {
        var curent_password = document.getElementById("curent_password").value;
        var new_password = document.getElementById("new_password").value;
        var comfirm_password = document.getElementById("comfirm_password").value;

        if(curent_password == ""){
            var mess = 'Please enter curent password!';
            alertify.error(mess);
            return false;
        }
        else if(new_password == "") {
            var mess = 'Please enter new password!';
            alertify.error(mess);
            return false;
        }
        else if(comfirm_password == "") {
            var mess = 'Please enter comfirm password!';
            alertify.error(mess);
            return false;
        }
        else if(new_password != comfirm_password) {
            var mess = 'Password confirmation does not match!';
            alertify.error(mess);
            return false;
        }
        else {
            // form xác nhận thay đổi
            var mess = '<b>Are you sure you want to change the password?</b>';
            alertify.set({ labels: { ok: "Ok", cancel: "Cancel" } });
            alertify.confirm( mess, function (e) {
                if (e) {
                    // alertify.success("You've clicked OK");
                    $('#changePasswordForm').submit();
                    return true;
                } else {
                    alertify.error("Canceled");
                    return false;
                    // alertify.error("You've clicked Cancel");
                }
            });
            // $('#edit_profile_form').submit();
            // return true;
        }
    }
</script>
</html>