<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <% include ../../layouts/stylesheet %>
    <% include ../../layouts/script %>
</head>
<body>
    <div class="container">
        <br>
        <h1><%= pageTitle %></h1>
        <p>Welcome to <%= pageTitle %></p>
        <br>
        <h5><a href="/user/login">Login</a></h5>
        <h5><a href="/user/register">Register</a></h5>
    </div>
</body>
</html>